body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f9f9f9;
}
form {
  display: inline-block;
  padding: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f9f9f9;
}

.edit-form input,
.edit-form button,
.delete-form button {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}
.delete-form{
  margin-top: 30px;
}
.delete-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c9302c;
}

input, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}
button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #45a049;
}